<html>
  <head>
    <title>Better than C!Z?</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <div id="prompt">
        Are you better than C!Z?
    </div>
    <div id="form">
    <form method="post" enctype="multipart/form-data">
    <input type="text" name="player" placeholder="Who are you?"  />
    <input type="submit" value="Check" />
    </form>
    </div>
    {% if msg %}
    <div id="msg">
    {{msg}}
    </div>
    <div id="chain">
    <ul>
    {% for match in chain %}
    <li>{{ match['winner'] }} beat {{ match['loser'] }} at {{ match['event'] }}</li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
  </body>
</html>